<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.board.mapper.FileMapper">
    <!-- 파일 목록 -->
    <select id="list" resultType="Files">
        SELECT * FROM files ORDER BY created_at DESC
    </select>
    <!-- 부모 테이블 기준 파일 목록 -->
    <select id="listByParent" resultType="Files">
        SELECT * FROM files
        WHERE p_id #{pId}
        ORDER BY created_at DESC
    </select>

    <select id="select" resultType="Files">
        SELECT FROM files WHERE no = #{no}
    </select>

    <select id="selectById" resultType="Files">
        SELECT FROM files WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Files" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO files (
            id, p_id, file_name, origin_name, file_path, file_size, type, seq
        )
        VALUES (
            #{id}, #{pId}, #{fileName}, #{originName}, #{filePath}, #{fileSize}, #{type}, #{seq}
        )
    </insert>

    <update id="update">
        UPDATE files
        <set>
            <if text="type != null"> type = #{type}, </if>
            <if text="seq != null"> seq = #{seq}, </if>
            <if text="pId != null"> p_id = #{pId}, </if>
            <if text="fileName != null"> file_name = #{fileName}, </if>
            <if text="originName != null"> origin_name = #{originName}, </if>
            <if text="filePath != null"> file_path = #{filePath}, </if>
            <if text="fileSize != null"> file_size = #{fileSize}, </if>
            updated_at = now()
        </set>
        WHERE no = #{no}
    </update>

    <update id="updateById">
        UPDATE files
        <set>
            <if text="type != null"> type = #{type}, </if>
            <if text="seq != null"> seq = #{seq}, </if>
            <if text="pId != null"> p_id = #{pId}, </if>
            <if text="fileName != null"> file_name = #{fileName}, </if>
            <if text="originName != null"> origin_name = #{originName}, </if>
            <if text="filePath != null"> file_path = #{filePath}, </if>
            <if text="fileSize != null"> file_size = #{fileSize}, </if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM files no = #{no}
    </delete>

    <delete id="deleteById">
        DELETE FROM files id = #{id}
    </delete>

    <!-- 부모 기준 파일 목록 삭제 -->
    <delete id="deleteByParent">
        DELETE FROM files
        WHERE p_id = #{pId}
    </delete>

    <!-- 선택 삭제 -->
    <!-- #{ 변수명 } vs ${ 변수명 } -->
    <!--      '값'   vs     값    -->

    <!-- no (문자열 - IN 키워드) -->
    <!-- String no = "1, 2, 3" -->
    <!-- no IN ( 1, 2, 3 ) -->
    <delete id="deleteFiles">
        DELETE FROM files
        WHERE no IN ( ${no} ) 
    </delete>

    <!-- String id = "'ID1', 'ID2', 'ID3',,," -->
    <!-- id IN ('ID1', 'ID2', 'ID3') -->
    <delete id="deleteFilesById">
        DELETE FROM files
        WHERE id IN ( ${id} ) 
    </delete>

    <!-- no (List 컬렉션) -->
    <delete id="deleteFilesList" parameterType="List">
        DELETE FROM files
        WHERE no IN
            <foreach collection="noList" item="no" open="(" separator="," close=")">
                #{no}
            </foreach>
    </delete>
    <delete id="deleteFilesListById" parameterType="List">
        DELETE FROM files
        WHERE id IN
            <foreach collection="idList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>

    <!-- 타입별 파일 조회 -->
    <select id="selectByType" resultType="Files">
        SELECT *
        FROM files
        WHERE p_id = #{pId}
            AND type = #{type}
        LIMIT 0, 1
    </select>

    <select id="listByType" resultType="Files">
        SELECT *
        FROM files
        WHERE p_id = #{pId}
            AND type = #{type}
    </select>
</mapper>